--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
sqlalchemy
aiosqlite
opencv-python-headless
ultralytics
facenet-pytorch
torch
torchvision
scikit-learn
numpy
pillow
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
websockets
python-multipart
asyncpg
psycopg2-binary
pgvector
faiss-cpu
python-dotenv